@charset "utf-8";

@import url("reset.css");

@font-face {
font-family: Rye;
src: url(../fonts/Rye-Regular.woff) format('woff'),
    url(../fonts/Rye-Regular.ttf) format('truetype');
}

@font-face {
font-family: Champagne;
src: url(../fonts/cac_champagne.woff) format('woff'),
    url(../fonts/cac_champagne.ttf) format('truetype');
}

@font-face {
font-family: Lobster;
src: url(../fonts/Lobster-Regular.ttf) format('truetype');
}

html {
    background-color:whitesmoke;
}



div, main, section, article, aside, footer {
    margin: 10px;
    padding: 5px;
}

header {
    background-color: aliceblue;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}




h1, h2, h3, h4, h5, h6 {
    margin: 5px;
    padding: 3px;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 1em;
}

header h1 {
    font-family: Rye;
    font-size: 4em;
}

h2 {
    font-family: Lobster;
    font-size: 3em;
}

h3 {
    font-family: Champagne;
    font-size: 2em;
}

p, li, dt, dd {
    line-height: 1.5em;
}



ul > li{
    list-style-type: square;
    list-style-position: inside;
}

ol > li {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
}


dt {
    font-style: italic;
}

dd {
    text-indent: 2em;
}

#TF2image {
    width: 800px;
    height: 400px;
}



nav a img {
    width: 40px;
    height: 40px;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

nav {
    background-color:rgb(136, 169, 231);
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    opacity: 100%;
}

nav li {
    list-style-type: none;
}

nav a {
    font-weight: 800px;
}

nav ul>li {

    margin: 5px;
    padding: 5px;
}